<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header">
        <a [routerLink]="['/']" class="logo">
            <div class="logo-image">
                <img [src]="'assets/images/logo.png'" alt="logo" class="w-2rem h-2rem" />
            </div>
            <span class="app-name">{{ 'site.title' | translate }}</span>
        </a>
        <button class="layout-sidebar-anchor p-link" type="button" (click)="anchor()"></button>
    </div>

    <div #menuContainer  class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>
