<h2 class="mb-1">{{ 'Nuova conferma email' | translate }}</h2>
<p class="mb-5">{{ 'Invia nuovamente l\'e-mail per la conferma dell\'account' | translate }}</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>{{'Email' | translate }}</mat-label>
    <input type="email" matInput formControlName="email" [placeholder]="'Email' | translate" required autocomplete="false">
    <mat-error *ngIf="form.get('email')!.errors?.['required']">{{ 'error.required' | translate }}</mat-error>
    <mat-error *ngIf="form.get('email')!.errors?.['email']">{{ 'error.email' | translate }}</mat-error>
  </mat-form-field>

  <button pButton pRipple type="submit" [label]="'Invia e-mail' | translate" class="w-100 mb-3"></button>

  <a pButton pRipple type="button" class="p-button-text d-block w-100" [routerLink]="['/login']">
    {{ 'Torna al login' | translate }}
  </a>
</form>
