<div *ngIf="hasFilters || hasOverlayFilters" class="d-flex align-items-center w-100">

  <div class="filters" *ngIf="hasFilters">
    <ng-container *ngFor="let filter of filters">
      <ng-container *ngIf="!filter.overlay">
        <ng-container *ngTemplateOutlet="filterTemplate; context:{filter}" />
      </ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="hasOverlayFilters">
    <app-overlay [style]="{ 'min-width': '350px' }">
      <p class="font-semibold">{{ 'Filtri' | translate }}</p>
      <div class="panel-filters">
        <ng-container *ngFor="let filter of filters">
          <ng-container *ngIf="filter.overlay">
            <ng-container *ngTemplateOutlet="filterTemplate; context:{filter}" />
          </ng-container>
        </ng-container>
      </div>
      <div class="d-flex justify-content-end">
        <p-button [label]="'Cancella filtri' | translate" styleClass="p-button-text me-2" (click)="clear()" />
        <p-button [label]="'Applica' | translate" styleClass="p-button-primary" (click)="apply()" />
      </div>
    </app-overlay>

    <p-button icon="bi bi-funnel" styleClass="p-button-primary {{ hasFilters ? 'ms-3' : '' }}" 
      cdkOverlayOrigin #origin="cdkOverlayOrigin" (click)="overlay.toggle(origin)" />
  </ng-container>
</div>

<ng-template #filterTemplate let-filter="filter">
  <div [ngSwitch]="filter.type" class="filter" *ngIf="filter.type !== FilterType.Hidden">
    <app-text-filter *ngSwitchCase="FilterType.Text" [filter]="filter" (changed)="apply(filter)" />
    <app-select-filter *ngSwitchCase="FilterType.Select" [filter]="filter" (changed)="apply(filter)" />
    <app-date-filter *ngSwitchCase="FilterType.Date" [filter]="filter" (changed)="apply(filter)" />
  </div>
</ng-template>