<!-- Filters -->
<app-filters *ngIf="config.filters" [filters]="config.filters" (onFilter)="filter($event)" />

<!-- Selection list -->
<mat-selection-list #picker class="mt-2" *ngIf="items?.data?.length; else noItems" 
    [multiple]="config.multiple" [hideSingleSelectionIndicator]="true">

    <mat-list-option *ngFor="let item of items?.data" class="list-item" [value]="item['id']"
        [selected]="selection.isSelected(item)" (click)="toggle(item)">
        <span matListItemTitle>{{ config.name(item) }}</span>
        <span matListItemLine *ngIf="config.description">{{ config.description(item) }}</span>
    </mat-list-option>
</mat-selection-list>

<ng-template #noItems>
    <div class="border rounded p-3 mt-3">
        {{ 'Nessun elemento da visualizzare' | translate }}
    </div>
</ng-template>

<!-- Pagination -->
<mat-paginator *ngIf="items && items.totalCount > items.pageSize" [length]="items.totalCount"
    [pageSize]="items.pageSize" [hidePageSize]="true" (page)="onPageChange($event)" showFirstLastButtons />