<h2 class="mb-1">{{ 'Creazione password' | translate }}</h2>
<p class="mb-5">{{ 'Imposta una nuova password per il tuo account' | translate }}</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>{{'Email' | translate }}</mat-label>
    <input type="email" matInput formControlName="email" [placeholder]="'Email' | translate" required
      autocomplete="false">
    <mat-error *ngIf="form.get('email')?.errors?.['required']">{{ 'error.required' | translate }}</mat-error>
    <mat-error *ngIf="form.get('email')!.errors?.['email']">{{ 'error.email' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'Password' | translate }}</mat-label>
    <input type="password" matInput formControlName="password" [placeholder]="'Password' | translate" required
      autocomplete="false">
    <mat-error *ngIf="form.get('password')?.errors?.['required']">{{ 'error.required' | translate }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'Conferma password' | translate }}</mat-label>
    <input type="password" matInput formControlName="confirmPassword" [placeholder]="'Conferma password' | translate"
      required autocomplete="false">
    <mat-error *ngIf="form.get('confirmPassword')?.errors?.['required']">{{ 'error.required' | translate }}</mat-error>
  </mat-form-field>

  <button pButton pRipple type="submit" [label]="'Salva password' | translate" class="w-100"></button>
</form>